<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Yind - mY mIND - Just thoughts on the internet</title>
	<meta name="description" content="Thoughts, reviews and ideas."/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" href="#">
	  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/screen.css') }}"/>
	  <!-- Custom fonts for this template -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic"/>
</head>
	<body class="home-template">
	<div class="site-wrapper">
	  <!-- Navigation -->
		<nav class="main-nav overlay clearfix">
		<a class="blog-logo" href="index.html"><img src="{{ url_for('static', filename='static/img/logo.png') }}" alt="Yindn - mY mIND"/></a>
		<ul id="menu">
			<li class="nav-home nav-current" role="presentation"><a href="index.html">Home</a></li>
			<li class="nav-article-example" role="presentation"><a href="article.html">Post Example</a></li>
			<li class="nav-about-us" role="presentation"><a href="about.html">Page Example</a></li>
			<li class="nav-author-page" role="presentation"><a href="author.html">Author Page</a></li>
			<span class="socialheader">
			<a href="#"><span class='symbol'>circletwitterbird</span></a>
			<a href="#"><span class='symbol'>circlefacebook</span></a>
			<a href="#"><span class='symbol'>circlegoogleplus</span></a>
			<a href="mailto:wowthemesnet@gmail.com"><span class='symbol'>circleemail</span></a>
			</span>
		</ul>
		</nav>




<!--  &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">-->

<!--  &lt;!&ndash; Custom fonts for this template &ndash;&gt;-->
<!--  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">-->
<!--  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
<!--  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->

<!--  &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--  <link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">-->

<!--</head>-->

<!--<body>-->

<!--  &lt;!&ndash; Navigation &ndash;&gt;-->
<!--  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" href="/">Angela's Blog</a>-->
<!--      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        Menu-->
<!--        <i class="fas fa-bars"></i>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/about">About</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/contact">Contact</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->

